{% extends 'base.html.twig' %}
 
{% block body %}

<!-- head of the donation web -->
<div class="top">
	<div class="logo">
		<a href="https://localhost/" title="中正大學捐款網站">
			<span style="font-size:32px; color:#634a87;">中正大學線上捐款系統</span>
			<br>
			<span>DONATE, CCU</span> 
		</a>
	</div>

	<div class="nav">
		<ul class="menu">
			<li><a href="https://www.ccu.edu.tw/" title="國立中正大學">國立中正大學</a></li>
			<li><a href="https://donate.ccu.edu.tw/">捐款中正</a></li>
			<li><a href="https://localhost/" title="回首頁">回首頁</a></li>
			<li><a href="mailto:admwrl@ccu.edu.tw">聯絡我們</a></li>
		</ul>
	</div>
</div>

<!-- body of the donation web -->
<div class="center">
	<!-- 1.填寫基本資料 2.填寫捐贈項目、金額、付款方式 3.付款資訊以及是否需要收據 -->
	<div class="progressbar">
		<ul>
			<li>基本資料</li>
			<li>捐款資訊</li>
			<li>付款資訊</li>
			<li>捐款完成</li>
		</ul>	
	</div>

	<div class="form">
		<!-- output would be send to formprocess.php -->
		<form id="personal"action="formprocess.php" method="post">
			<!-- 1.填寫基本資料 -->
			<fieldset>
				<div class="form-group identify">
					<label for="identify"><span style="color:red">*</span>請選擇您的身分</label><br>
					<select id="identity_type" name="identity_type">
						<option value="public">一般民眾</option>
						<option value="enterprise">公司企業</option>
						<option value="alumnus" selected="">中正校友</option>
					</select>
				</div>

				<div class="form-group name">
					<label for="name"><span style="color:red">*</span>姓名或機構名稱</label>
					<input id="name" type="text" name="name">
				</div>

				<div class="anonymity">
					<label for="anonymity">是否需要匿名</label>
					<input type="radio" name="receipt" value="1">
					<label>是</label>
					<input type="radio" name="receipt" value="0">
					<label>否</label>
					<p>選擇匿名您的名字將會以"中正人"顯示</p>
				</div>

				<div class="id">
					<label for="id"><span style="color:red">*</span>身份證字號或統一編號</label>
					<input id="id" type="text" name="id">
				</div>

				<div class="form-group email">
					<label for="email"><span style="color:red">*</span>Email</label>
					<input id="email" name="email" type="email">
				</div>

				<div class="form-group phone">
					<label for="phone"><span style="color:red">*</span>聯絡電話</label>
					<input id="phone" maxlength="10" name="phone" type="tel">
				</div>

				<div class="form-group comments">
					<label for="comments">備註</label>
					<textarea id="comments" name="comments" rows="5" cols="20"></textarea>
				</div>

				<div>
					<input type="button" name="next" class="next action-button" value="下一步">
				</div>
			</fieldset>

			<!-- 2.填寫捐贈項目、金額、付款方式 -->
			<fieldset>
			</fieldset>

			<!-- 3.付款資訊以及是否需要收據 -->
			<fieldset>
				<!-- maybe add * after coosing "yes" -->
				<div class="receipt">
					<label for="receipt">收據類型</label>
					<input type="radio" name="receipt">
					<label>紙本</label>
					<input type="radio" name="receipt">
					<label>電子</label>
					<input type="radio" name="receipt">
					<label>不需要</label>
					<p>不需要收據請略過下面項目直接點選下一步</p>
				</div>

				<div class="title">
					<label for="title"><span style="color:red">*</span>收據抬頭</label>
					<input id="title" type="text" name="title">
				</div>

				<div class="form-group address">
					<label for="address"><span style="color:red">*</span>收據寄送地址</label>
					<input type="text" name="zipcode_1" placeholder="郵遞區號" maxlength="3">
					"-"
					<input type="text" name="zipcode_2" placeholder="郵遞區號" maxlength="2">
					<select id="country">
						<option>臺灣</option>
						<option>其他海外地區</option>
					</select>
					<select id="city">
						<option>基隆市</option>
						<option>臺北市</option>
						<option>新北市</option>
						<option>桃園市</option>
						<option>新竹市</option>
						<option>新竹縣</option>
						<option>苗栗縣</option>
						<option>臺中市</option>
						<option>彰化縣</option>
						<option>南投縣</option>
						<option>雲林縣</option>
						<option>嘉義是</option>
						<option>嘉義縣</option>
						<option>臺南市</option>
						<option>高雄市</option>
						<option>屏東縣</option>
						<option>宜蘭縣</option>
						<option>花蓮縣</option>
						<option>臺東縣</option>
						<option>澎湖縣</option>
						<option>金門縣</option>
						<option>連江縣</option>
					</select>
					<input id="address" name="address" type="text">
				</div>

				<div>
					<p id="code"></p>
					<p></p>
					<a href="#" id="recode">更新驗證碼</a>
					<p></p>
					<input type = "text" id = "input" placeholder="請輸入驗證碼,不分大、小寫">
					<p></p>
					<input type = "button" value="驗證" id="validate"> 
				</div>

				<input type="button" name="previous" class="previous action-button" value="上一步">
				<input type="submit" value="送出">

			</fieldset>

			<!-- example -->
			<p>以下佔存一些格式的用法</p>
			<p>付款方式</p>
				<p><input type="radio" name="pay" value="credit card">信用卡付款</p>
				<p><input type="radio" name="pay" value="transfer monry">轉帳</p>
			
			<p>example</p>
			<p><input type="text" name="trash" placeholder="Have a nice day."></p>

		</form>
	</div>
</div>
{% endblock %}