{% extends 'base.html.twig' %}
 
{% block body %}
<body class="page_mobileselfpg  ">

<div class="wrap">


<a href="#start-C" class="focusable" title="跳到主要內容區">跳到主要內容區</a>


<div class="fpbgvideo"></div>
<div class="minner">

<div id="Dyn_head">
<div class="header">
	<div class="minner container">
	
<div class="selfhead">
		<div class="meditor">
	
      
         
			<div class="head container">
<div class="mlogo">
<a href="https://donate.ccu.edu.tw/" title="國立中正大學捐款中正"><span style="font-size:32px; color:#634a87;">國立中正大學捐款中正</span><br />
<span>DONATE, CCU</span> </a>
</div>

<div class="topnav">
				
				



   
<div class="headnavcust">
	<div class="mnavbar mn-collapse">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".hd-topnav">
			<span class="glyphicons show_lines">Menu</span>
		</button>
		<div class="nav-toggle collapse navbar-collapse iosScrollToggle hd-topnav">
			<div class="hdmenu">
				<ul class="nav navbar-nav" id="a283b2b9c09f36ef1898f9ab69fb8b963_MenuTop_topnav">
				
					<li   id="Hln_2817" ><a  href="https://www.ccu.edu.tw/" title="國立中正大學">國立中正大學</a></li>
				
					<li   id="Hln_2818" ><a  href="/" title="回首頁">回首頁</a></li>
				
				</ul>
			</div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
	$(".mnavbar .navbar-toggle").click(function(){
		$(this).toggleClass("open");
	});
   $('.iosScrollToggle').on('shown.bs.collapse', function () {
		var togglePos = $(this).css('position');
      if(togglePos !== 'static'){
          ModalHelper.afterOpen();
      }
    });

    $('.iosScrollToggle').on('hide.bs.collapse', function () {
		var togglePos = $(this).css('position');
      if(togglePos !== 'static'){
			ModalHelper.beforeClose();
      }
    });
	
});
</script>



	


<script language="javascript">
tabSwitch("a283b2b9c09f36ef1898f9ab69fb8b963_MenuTop_topnav");
</script>

         
			</div>

<div class="mycollapse"><button class="navbar-toggle" data-target=".nav-toggle" data-toggle="collapse" type="button"><span class="glyphicons show_lines">MENU</span></button>

<div class="navbar-collapse nav-toggle collapse" id="collapseExample2">
<div class="hdsearch"><a aria-expanded="false" class="btn btn-primary navbar-toggle1 sch-toggle" data-toggle="collapse" href="#headsearch" role="button"><span>Search</span></a>

<div class="collapse" id="headsearch">&nbsp;</div>
</div>
<div class="mainmenu">
				
				



   
<div class="headnavcust">
	<div class="mnavbar mn-collapse">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".hd-mainmenu">
			<span class="glyphicons show_lines">Menu</span>
		</button>
		<div class="nav-toggle collapse navbar-collapse iosScrollToggle hd-mainmenu">
			<div class="hdmenu">
				<ul class="nav navbar-nav" id="a283b2b9c09f36ef1898f9ab69fb8b963_MenuTop_mainmenu">
				
					<li   id="Hln_2822" ><a  href="/app/index.php" title="最新消息">最新消息</a></li>
				
					<li   id="Hln_9666" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" title="我要捐款">我要捐款</a><ul class="dropdown-menu"><li  id="Hln_9671"><a href="https://edonate.ccu.edu.tw/" title="線上捐款系統">線上捐款系統</a></li><li  id="Hln_9667"><a href="/p/404-1029-5600.php?Lang=zh-tw" title="一般捐款">一般捐款</a></li><li  id="Hln_9668"><a href="/p/404-1029-6008.php?Lang=zh-tw" title="實物捐贈">實物捐贈</a></li><li  id="Hln_6022"><a href="/p/404-1029-5614.php?Lang=zh-tw" title="小額捐款">小額捐款</a></li><li  id="Hln_9669"><a href="/p/404-1029-6009.php?Lang=zh-tw" title="海外捐款(非美國地區適用)">海外捐款(非美國地區適用)</a></li><li  id="Hln_9681"><a href="/p/404-1029-31614.php?Lang=zh-tw" title="海外捐款(美國地區適用)">海外捐款(美國地區適用)</a></li><li  id="Hln_9670"><a href="/p/404-1029-6010.php?Lang=zh-tw" title="捐款流程圖">捐款流程圖</a></li></ul></li>
				
					<li   id="Hln_2828" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" title="捐款芳名錄">捐款芳名錄</a><ul class="dropdown-menu"><li  id="Hln_10570"><a href="/p/403-1029-3803.php?Lang=zh-tw" title="112芳名錄">112芳名錄</a></li><li  id="Hln_2841"><a href="/p/426-1029-5.php?Lang=zh-tw" title="111芳名錄">111芳名錄</a></li><li  id="Hln_2840"><a href="/p/426-1029-9.php?Lang=zh-tw" title="110芳名錄">110芳名錄</a></li><li  id="Hln_2839"><a href="/p/426-1029-8.php?Lang=zh-tw" title="109芳名錄">109芳名錄</a></li><li  id="Hln_2838"><a href="/p/426-1029-7.php?Lang=zh-tw" title="108芳名錄">108芳名錄</a></li><li  id="Hln_2837"><a href="/p/426-1029-6.php?Lang=zh-tw" title="107芳名錄">107芳名錄</a></li></ul></li>
				
					<li   id="Hln_5997" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" title="「嘉有機會」希望專戶">「嘉有機會」希望專戶</a><ul class="dropdown-menu"><li  id="Hln_6000"><a href="/p/404-1029-5590.php?Lang=zh-tw" title="回饋方案">回饋方案</a></li><li  id="Hln_6009"><a href="/p/426-1029-1.php?Lang=zh-tw" title="勵學獎助學金獲獎助者心得分享">勵學獎助學金獲獎助者心得分享</a></li><li  id="Hln_6237"><a href="/p/426-1029-2.php?Lang=zh-tw" title="博士獎助學金獲獎助者生命歷程">博士獎助學金獲獎助者生命歷程</a></li></ul></li>
				
					<li   id="Hln_2823" ><a  href="https://secretar.ccu.edu.tw/p/426-1003-30.php?Lang=zh-tw" title="中心成員">中心成員</a></li>
				
					<li   id="Hln_2827" class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" title="表單下載">表單下載</a><ul class="dropdown-menu"><li  id="Hln_10575"><a href="/p/404-1029-5601.php?Lang=zh-tw	" title="捐款申請表單">捐款申請表單</a></li><li  id="Hln_10573"><a href="/p/404-1029-36626.php?Lang=zh-tw" title="台灣摩菲爾廣告捐贈">台灣摩菲爾廣告捐贈</a></li></ul></li>
				
					<li   id="Hln_6238" ><a  href="/p/131-1029-19.php?Lang=zh-tw" title="活動花絮">活動花絮</a></li>
				
					<li   id="Hln_2826" ><a  href="/p/426-1029-3.php?Lang=zh-tw" title="相關法規">相關法規</a></li>
				
        		
				</ul>
			</div>
		</div>
	</div>
</div>



	


<script language="javascript">
tabSwitch("a283b2b9c09f36ef1898f9ab69fb8b963_MenuTop_mainmenu");
</script>

         
         </div>
<br>
</div>
</div>
</div>

<div id="banner"></div>
<script>
    $(document).ready(function () {
        $.hajaxOpenUrl("/app/index.php?Action=mobileloadmod&Type=mobile_sz_mstr&Nbr=99", '#banner');
       $.hajaxOpenUrl("/app/index.php?Action=mobileloadmod&Type=mobileheadsch&Nbr=0", '#headsearch');
    });
</script>
      
      
   






	
	</div>
</div>




	</div>
</div>
<script language="javascript">

	tabSwitch("a283b2b9c09f36ef1898f9ab69fb8b963_MenuTop");



if(typeof(_LoginHln)=='undefined') var _LoginHln = new hashUtil();

if(typeof(_LogoutHln)=='undefined') var _LogoutHln = new hashUtil();

if(typeof(_HomeHln)=='undefined') var _HomeHln = new hashUtil();

if(typeof(_InternalHln)=='undefined') var _InternalHln = new hashUtil();


$(document).ready(function(){
   if(typeof(loginStat)=='undefined') {
   	if(popChkLogin()) loginStat="login";
   	else loginStat="logout";
	}
	dealHln(isHome,loginStat,$('div.hdmenu'));

	
	
});
</script>
<noscript>本功能需使用支援JavaScript之瀏覽器才能正常操作</noscript>
<!-- generated at Fri Nov 10 2023 11:35:59 --></div>


<div class="main">
<div class="minner">

	
	
<div class="row col1 row_0">
	<div class="mrow container">
		<div class="col col_02">
			<div class="mcol">
				<div id="Dyn_2_1" class="M13400  ">
                    <div class="module module-special md_style1">
                        <h1> hello world</h1>
                    </div>
                </div>	
			</div>
		</div> 			 
	</div>
</div>
	

</div>
</div>


	<style>
	@media (min-width: 481px) {.row_0 .col_01 { width: 0%;}.row_0 .col_02 { width: 100%;}.row_0 .col_03 { width: 0%;}}
	</style>


<div id="Dyn_footer">
<div class="footer">
<div class="minner ">





<ul class="langbar">

	 <li><a class="active" title="繁體"><span>繁體</span></a></li>

	 <li><a href="#" onclick="openLangUrl('en');return false;" title="English"><span>English</span></a></li>

</ul>
<script>
function openLangUrl(p_lang) {
   var curlang = getUrlParam("Lang");
   if(curlang!="") {
      var str = window.location+"";
      window.location = str.replace("Lang="+curlang,"Lang="+p_lang);
   }
   else {
      if(window.location.href.indexOf("?")>0)
         window.location=window.location+'&Lang='+p_lang;
      else
         window.location=window.location+'?Lang='+p_lang;
   }
}
function getUrlParam(paramName,url){
	if(typeof url=="undefined") url=window.location;
   var oRegex = new RegExp( '[\?&]' + paramName + '=([^&]+)', 'i' ) ;
   var oMatch = oRegex.exec(url) ;
   if ( oMatch && oMatch.length > 1 )
      return oMatch[1] ;
   else
      return '' ;
}
</script>



<div class="copyright">
<div class="meditor">
	2022 Copyright © 國立中正大學 | 秘書室 | 媒體暨公關中心 <br />
聯絡人: 林婉茹小姐<br />
E-mail: mprc@ccu.edu.tw<br />
TEL: (05)272-0411 # 10252   專線: (05)272-4295<br />
地址: 621301 嘉義縣民雄鄉三興村7鄰大學路一段168號行政大樓6樓
	
</div>
</div>


	<button class="toTop" title="回到頂部">
    	<span>回到頂部</span>
	</button>
<script>
	// 返回頂部
	$(document).ready(function(){
	    gotop();
	}); 
	$(window).scroll(function(){
	    gotop();
	});
	$('.toTop').click(function(){
	    $('html, body, .wrap').animate({scrollTop: '0px'}, 200);
		 $(".focusable").focus();
	});
	function gotop(){
	    var  winH = $(window).height();
	    var  scroll = $(window).scrollTop();
	    if(scroll > 100 ){
	        $('.toTop').show();
	    }
	    else {
	        $('.toTop').hide();
	    }
	}
	</script>




</div>
</div>
<!-- generated at Fri Nov 10 2023 11:35:59 --></div>


</div>
</div>
<div class="fpbgvideo"></div>




<div id="_pop_login" class="mpopdiv">
<script>$(document).ready(function() {$.hajaxOpenUrl('/app/index.php?Action=mobileloadmod&Type=mobilepoplogin&Nbr=0','#_pop_login','',function(){menuDropAct();});})</script>
</div>


<div id="_pop_tips" class="mtips">
	<div class="mbox">
	</div>
</div>
<div id="_pop_dialog" class="mdialog">
	<div class="minner">
		<div class="mcont">
		</div>
		<footer class="mdialog-foot">
        	<button type="submit" class="mbtn mbtn-s">OK</button>
        	<button type="submit" class="mbtn mbtn-c">Cancel</button>
		</footer>
	</div>
</div>


<!--<script>NProgress.done();</script>-->
<script>
function popChkLogin(){
	if(typeof(loginStat)=='undefined') {
   	var chkstat=0;
   	var chkUrl='/app/index.php?Action=mobilelogin&Op=chklogin';
   	var chkData = [];
   	var chkObj=$.hajaxReturn(chkUrl,chkData);
   	chkstat=chkObj.stat;
		if(chkstat) {
			loginStat="login"; 
			return true;
		}else {
			loginStat="logout"; 
			return false;
		}	
	}else {
		if(loginStat=="login") return true;
		else return false;
	}
}

</script>
<!-- generated at Mon Nov 13 2023 00:57:48 --></body></html>

{% endblock %}